.group {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.panel {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  padding-right: 20px;
  > div {
    min-width: 300px;
    word-break: break-all;
  }
}

.divider {
  position: absolute;
  right: 0;
  top: 0;
  min-width: auto !important;
  height: 100%;
  padding: 0 10px;
  cursor: col-resize;
  background-color: #fff;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 24px;
    background: #aaa;

    transform: translate(-50%, -50%);
    border-radius: 2px;
  }
}
